@model LibraryWebApp.Models.ViewModels.UserVM

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Users List</h2>
        </div>
    </div>


    <br /><br />

    @if (Model.ListOfUsers.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:55%" align="center">
            <thead>
                <tr>
                    <th>
                        <label>id</label>
                    </th>
                    <th>
                        <label>name</label>
                    </th>
                    <th>
                        <label >phone number</label>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.ListOfUsers)
                {
                    <tr>
                        <td width="20%">@user.Id</td>
                        <td width="20%">@user.UserName</td>
                        <td width="20%">@user.PhoneNumber</td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a class="btn btn-danger mx-2" asp-route-Id="@user.Id" asp-action="Delete">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No user exists.</p>
    }
</div>
